/* USABLE horizontal GRADIENTS */

#horizontal-gradient1 stop.start-color {
    stop-color: rgb(145, 255, 0);
}

#horizontal-gradient1 stop.end-color {
    stop-color: blue;
}

#horizontal-gradient2 stop.start-color {
    stop-color: rgb(145, 255, 0);
}

#horizontal-gradient2 stop.end-color {
    stop-color: blue;
}

#horizontal-gradient3 stop.start-color {
    stop-color: rgb(145, 255, 0);
}

#horizontal-gradient3 stop.end-color {
    stop-color: blue;
}

#horizontal-gradient4 stop.start-color {
    stop-color: rgb(145, 255, 0);
}

#horizontal-gradient4 stop.end-color {
    stop-color: blue;
}

#horizontal-gradient5 stop.start-color {
    stop-color: rgb(145, 255, 0);
}

#horizontal-gradient5 stop.end-color {
    stop-color: blue;
}


/* USABLE VERTICAL GRADIENTS */

#vertical-gradient1>stop.start-color {
    stop-color: rgb(255, 255, 255);
}

#vertical-gradient1>stop.end-color {
    stop-color: rgb(228, 228, 228);
}

#vertical-gradient2 stop.start-color {
    stop-color: rgb(250, 238, 173);
}

#vertical-gradient2 stop.end-color {
    stop-color: rgb(127, 180, 211);
}

#vertical-gradient3 stop.start-color {
    stop-color: rgb(243, 246, 248);
}

#vertical-gradient3 stop.end-color {
    stop-color: rgb(127, 180, 211);
}

#vertical-gradient4 stop.start-color {
    stop-color: rgb(243, 246, 248);
}

#vertical-gradient4 stop.end-color {
    stop-color: rgb(127, 180, 211);
}

#vertical-gradient5 stop.start-color {
    stop-color: rgb(243, 246, 248);
}

#vertical-gradient5 stop.end-color {
    stop-color: rgb(127, 180, 211);
}


/* USABLE RADIAL GRADIENTS */

#radial-gradient1 stop.start-color {
    stop-color: rgb(243, 246, 248);
}

#radial-gradient1 stop.end-color {
    stop-color: rgb(127, 180, 211);
}

#radial-gradient2 stop.start-color {
    stop-color: rgb(243, 246, 248);
}

#radial-gradient2 stop.end-color {
    stop-color: rgb(127, 180, 211);
}